<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hostel Management System</title>
    <link
      href="{{  url_for('static', filename='bootstrap-4.6.2-dist/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{  url_for('static', filename='bootstrap-4.6.2-dist/css/bootstrap-grid.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{  url_for('static', filename='bootstrap-4.6.2-dist/css/bootstrap-reboot.css') }}"
      rel="stylesheet"
    />

    <link
      href="{{ url_for('static', filename='assets/img/hostel.png') }}"
      rel="icon"
    />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body class="form-login-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto login-desk">
          <div class="row">
            <div class="col-md-7 detail-box">
              <h3><b>ALX</b> Software Engineering Final project (cohort 13)</h3>
              <div class="detailsh">
                <h3>Hostel Management System</h3>
                <p>
                  This is the final portfolio pitch of alx software engineering
                  cohort 13. The project is a hostel management system that
                  allows students to book for hostel rooms and also book for
                  vacation stay. The project is built with python flask and
                  mysql database. The project is digital ocean droplet and the
                  source code is available on github.
                </p>

                <div class="modal-body">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Team Members</h5>
                      <div class="row">
                        <div class="col-md-6">
                          <p><strong>Name:</strong> George Arhin-Bonnah</p>
                          <p class="">
                            Undergraduate Student of University of Education,
                            Winneba
                          </p>
                          <p>
                            <a
                              href="https://www.linkedin.com/in/george-arhin-bonnah-5330b925a"
                              target="_blank"
                            >
                              <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                            <a
                              href="https://github.com/akwesi-bonah"
                              target="_blank"
                            >
                              <i class="fab fa-github"></i> GitHub
                            </a>
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p><strong>Name:</strong>Godwin Dogbey</p>

                          <p>
                            Content Producer at Despite Media Group | Digital
                            Marketing | Talent Manager | Events & PR
                          </p>
                          <p>
                            <a
                              href="https://www.linkedin.com/in/godwin-dogbey-52462b122"
                              target="_blank"
                            >
                              <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                            <a
                              href="https://github.com/GodwinDogbey"
                              target="_blank"
                            >
                              <i class="fab fa-github"></i> GitHub
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 loginform">
                 {% if error_message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{ error_message }}</strong> You should check in on some of those fields below.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
              <form
                action="{{ url_for('student_views.default')}}"
                class="agnet-contact-form"
                id="FormPost"
                method="post"
              >
                <input name="__RequestVerificationToken" type="hidden" />
                <h4>Login to Your Account</h4>
                <p>Existing User? Log in below to access your account:</p>
                <div class="login-det">
                  <div class="form-row">
                    <label for="email">Email</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="email-addon">
                          <i class="far fa-user"></i>
                        </span>
                      </div>
                      <input
                        autocomplete="off"
                        class="form-control text-box single-line input_user"
                        data-val="true"
                        data-val-required="The email field is required."
                        id="lEmail"
                        name="email"
                        placeholder="Enter Your Email"
                        type="text"
                        value=""
                      />
                      <p class="mb-0">
                        <span
                          class="field-validation-valid text-warning"
                          data-valmsg-for="email"
                          data-valmsg-replace="true"
                        ></span>
                      </p>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="password">Password</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="password-addon">
                          <i class="fas fa-lock"></i>
                        </span>
                      </div>
                      <input
                        autocomplete="off"
                        class="form-control text-box single-line input_pass"
                        data-val="true"
                        data-val-length="Must be between 5 and 255 characters"
                        data-val-length-max="255"
                        data-val-length-min="8"
                        data-val-required="The password field is required."
                        id="lPassword"
                        name="password"
                        placeholder="Enter Your Password"
                        type="password"
                      />
                      <p class="mb-0">
                        <span
                          class="field-validation-valid text-warning"
                          data-valmsg-for="password"
                          data-valmsg-replace="true"
                        ></span>
                      </p>
                    </div>
                  </div>
                  <p class="forget">
                    <a href="#" id="fpass" title="Forgot Password?"
                      >Forgot Password?</a
                    >
                  </p>
                  <input
                    type="submit"
                    value="Login"
                    class="btn btn-sm btn-info showloader"
                    id="btnloginstud"
                  />
                </div>
              </form>
              <div class="social-link">
                <p class="signup">
                  Don't Have an Account?
                  <span class="register-option">Register as</span>
                </p>
                <span class="newuser">
                  <button
                    id="newaccount"
                    data-target="#registerModal"
                    data-toggle="modal"
                    class="btn btn-sm btn-info "
                  >
                    Reqular Student
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Register -->
  <div class="modal fade" id="registerModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Register</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data" id="registerForm">
            {{ form.hidden_tag() }}
            <!-- Personal Information Accordion -->
            <div class="accordion" id="personalInfoAccordion">

              <div class="row g-3">
                <div class="col-md-4">
                  {{ form.first_name.label(class="form-label") }}
                  {{ form.first_name(class="form-control", id="first_name") }}
                  {% if form.first_name.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.first_name.errors %}
                    <span>{{ error }}</span><br>
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>


                <div class="col-md-4">
                  {{ form.last_name.label(class="form-label") }}
                  {{ form.last_name(class="form-control", id="last_name") }}
                </div>
                {% if form.last_name.errors %}
                <div class="invalid-feedback">
                  {% for error in form.last_name.errors %}
                  <span>{{ error }}</span><br>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-4">
                  {{ form.other_name.label(class="form-label") }}
                  {{ form.other_name(class="form-control", id="other_name") }}
                </div>
                <div class="col-md-4">
                  {{ form.email.label(class="form-label") }}
                  {{ form.email(class="form-control", id="email") }}
                </div>
                {% if form.email.errors %}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>{{ error }}</span><br>
                  {% endfor %}
                </div>
                {% endif %}



                <div class="col-md-4">
                  {{ form.phone.label(class="form-label") }}
                  {{ form.phone(class="form-control", id="phone") }}
                </div>
                {% if form.phone.errors %}
                <div class="invalid-feedback">
                  {% for error in form.phone.errors %}
                  <span>{{ error }}</span><br>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-4">
                  {{ form.date_of_birth.label(class="form-label") }}
                  {{ form.date_of_birth(class="form-control", id="date_of_birth") }}
                </div>
                {% if form.date_of_birth.errors %}
                <div class="invalid-feedback">
                  {% for error in form.date_of_birth.errors %}
                  <span>{{ error }}</span><br>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-4">
                  {{ form.address.label(class="form-label") }}
                  {{ form.address(class="form-control", id="address") }}
                </div>
                {% if form.address.errors %}
                <div class="invalid-feedback">
                  {% for error in form.address.errors %}
                  <span>{{ error }}</span><br>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-4">
                  {{ form.gender.label(class="form-label") }}
                  {{ form.gender(class="form-control", id="gender") }}
                </div>
                {% if form.gender.errors %}
                <div class="invalid-feedback">
                  {% for error in form.gender.errors %}
                  <span>{{ error }}</span><br>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-4">
                  {{ form.disability.label(class="form-label") }}
                  {{ form.disability(class="form-control", id="disability") }}
                </div>
                {% if form.disability.errors %}
                <div class="invalid-feedback">
                  {% for error in form.disability.errors %}
                  <span>{{ error }}</span><br>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-4">
                  {{ form.password.label(class="form-label") }}
                  {{ form.password(class="form-control", id="password") }}
                </div>
                {% if form.password.errors %}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>{{ error }}</span><br>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="col-md-4">
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" class="">
</div>


                <!-- ... -->

                <br>
                <!-- Other guardian info fields -->
                <div class="col-md-4">
                  {{ form.guardian_name.label(class="form-label") }}
                  {{ form.guardian_name(class="form-control", id="guardian_name") }}
                </div>
                <div class="col-md-4">
                  {{ form.guardian_phone.label(class="form-label") }}
                  {{ form.guardian_phone(class="form-control", id="guardian_phone") }}
                </div>


                <!-- Other guardian info fields -->
                <div class="col-md-4">
                  {{ form.student_number.label(class="form-label") }}
                  {{ form.student_number(class="form-control", id="student_number") }}
                </div>
                <div class="col-md-4">
                  {{ form.program.label(class="form-label") }}
                  {{ form.program(class="form-control", id="program") }}
                </div>
                <div class="col-md-4">
                  {{ form.level.label(class="form-label") }}
                  {{ form.level(class="form-control", id="level") }}
                </div>


                <!-- Submit button -->

              </div>
            </div>

            <div class="mt-3">
              {{ form.submit(id="registerStudent", class="btn btn-primary") }}
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>


    <script src="{{ url_for('static', filename='jQuery/jquery-3.7.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='jQuery/jquery.validate.min.js')}}"></script>
    <script src="{{ url_for('static', filename='jQuery/jquery.validate.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/login.js') }}"
    ></script>
  </body>
</html>
