<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Academy Haven </title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/hostel.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />

  <!-- sweet alert-->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />
<link
      href="{{  url_for('static', filename='bootstrap-4.6.2-dist/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{  url_for('static', filename='bootstrap-4.6.2-dist/css/bootstrap-grid.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{  url_for('static', filename='bootstrap-4.6.2-dist/css/bootstrap-reboot.css') }}"
      rel="stylesheet"
    />

  <!-- Vendor CSS Files -->

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" />

</head>

<body>

  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="" />
                  <span class="d-none d-lg-block">Academy Haven Hostel</span>
                </a>
              </div>
              <!-- End Logo -->

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">
                      Login to Your Account
                    </h5>

                  </div>

                  <form class="row g-3 needs-validation" novalidate method="POST"
                    action="{{ url_for('staff_view.base') }}">
                    {% if error %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong> {{ error }}</strong> You should check in on some of those fields
                      below.
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {{ form.hidden_tag() }}
                    <div class="col-12">
                      {{ form.email.label }}

                      {{ form.email(class="form-control form-control-lg", placeholder="email address") }}
                      <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        {{ error }}
                        {% endfor %}
                      </div>
                    </div>

                    <div class="col-12">
                      {{ form.password.label }} {{ form.password(class="form-control", placeholder="password") }}
                      <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                      </div>
                    </div>

                    <div class="col-12">
                      {{ form.submit(class="btn btn-primary w-100") }}
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

 <script src="{{ url_for('static', filename='jQuery/jquery.validate.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jQuery/jquery-3.7.1.min.js') }}"></script>
{% if script %}
    {{ script | safe }}
{% endif %}
</body>

</html>