{% extends 'base.html' %}
{% block content %}

<div class="pagetitle">
  <h1>Room Type Management</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('staff_view.dashboard')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">Room Type list</li>
    </ol>
  </nav>
</div>

  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="col-12">
    <div class="card recent-sales overflow-auto">
      <div class="card-body">
        <h5 class="card-title"><span>Room Type List</span></h5>

        <table class="table table-border datatable">
          <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                style="width: 30.5833px" aria-sort="ascending" aria-label="#: activate to sort column descending">
                #
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                style="width: 284.2px" aria-label="
                                       Campus
                                    : activate to sort column ascending">
                Name
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                style="width: 369.1px" aria-label="
                                        Name
                                    : activate to sort column ascending">
                Description
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                style="width: 199.217px" aria-label="
                                        Description
                                    : activate to sort column ascending">
                price
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                style="width: 96.3px" aria-label="
                                        Action
                                    : activate to sort column ascending">
                status
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                style="width: 96.3px" aria-label="
                                        Action
                                    : activate to sort column ascending">
                Action
              </th>
            </tr>
          </thead>

          <tbody>
            {% if room_type %} {% for type in room_type %}
            <tr>
              <td></td>
              <td>{{ type.name }}</td>
              <td>{{ type.description }}</td>
              <td>{{ type.price }}</td>
              <td>{{ type.status }}</td>
              <td>
                <a href="#" class="btn btn-sm btn-info showloader edit-type" data-type-id="{{ type.id }}">Edit</a>
                <a href="#" class="btn btn-sm btn-danger showloader delete-type" data-type-id="{{ type.id }}">Delete</a>
              </td>
            </tr>
            {% endfor %} {% endif %}

          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary createRoomType"
                data-bs-toggle="modal"
                data-bs-target="#RoomTypeCU">
          Create New
        </button>
      </div>
    </div>
  </div>
  <!-- /.row -->
</section>

<div class="modal fade md-col2" id="RoomTypeCU" tabindex="-1" aria-labelledby="RoomTypeUpdateCreate" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="RoomTypeUpdateCreate">Add/Update Room Type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body ">
        <form action="" class="agnet-contact-form" id="roomTypeForm" method="post">
          {{ form.csrf_token }}
          <br>

          <div class="card-body">
            <div class="form-group">
              {{ form.name.label }}<b class="red">*</b>
              {{ form.name(class="form-control text-box single-line", id="name", placeholder="Enter Room Type Name") }}
              {% for error in form.name.errors %}
              <span class="field-validation-valid text-danger" data-valmsg-for="name" data-valmsg-replace="true">{{
                error }}</span>
              {% endfor %}
            </div>

            <div class="form-group">
              {{ form.price.label }}<b class="red">*</b>
              {{ form.price(class="form-control text-box single-line", id="amount", placeholder="Enter Amount") }}
              {% for error in form.price.errors %}
              <span class="field-validation-valid text-danger" data-valmsg-for="amount" data-valmsg-replace="true">{{
                error }}</span>
              {% endfor %}
            </div>

            <div class="form-group">
              {{ form.description.label }}<b class="red">*</b>
              {{ form.description(class="form-control", id="description", placeholder="Description", rows="2") }}
              {% for error in form.description.errors %}
              <span class="field-validation-valid text-danger" data-valmsg-for="description"
                data-valmsg-replace="true">{{ error }}</span>
              {% endfor %}
            </div>
            <br>

            <div class="form-group">
              {{ form.status.label }}
              {{ form.status(class="form-control", id="status") }}
              {% for error in form.status.errors %}
              <span class="field-validation-valid text-danger" data-valmsg-for="status" data-valmsg-replace="true">{{
                error }}</span>
              {% endfor %}
            </div>
          </div>
          <!-- /.card-body -->
          <br>
          <div class="card-footer">
            {{ form.submit(class="btn btn-primary float-left", id="addRoomType") }}
            {{ form.submit(class="btn btn-primary  float-left", id="updateRoomType") }}

          </div>
        </form>

      </div>
    </div>
  </div>
</div>


{% endblock %}